

/* Footer */
.footer {
    position: relative;
    background-color: #092746;
    color: #7d7975;
    padding: 95px 0 50px;
    font-size:16px;
}
.footer p {
    line-height:26px;
    color : #fff;
}
.footer h5 {
    font-size: 22px;
    font-weight: 700;
    color: #aece61  ;
    position: relative;
    padding-bottom: 16px;
}
.footer h5:after {
    content: '';
    display: block;
    margin: 5px 0 0;
    width: 40%;
    height: 1px;
    background-color: #1e1d22 ;
}

.footer ul {
    list-style: none;
    line-height:35px;
    margin: 0px;
    color:#fff;
    
}
.footer a {
    color:# ;
   
}
.footer a:hover {
    color: #aece61 ;
}

/* Footer Logo */
.foot-logo {
    margin: 0px 0px 18px 0px;
    padding: 0;
}

/*footer bottom */
.footer-bottom {
    padding-top: 10px;
    padding-bottom: 25px;
    border-top: 1px solid #2f2f33 ;
    background: #1e1d22  ;
    
}
.copyright-text p {
    color: #7d7975;
    margin-top: 18px;
    margin-bottom: 0;
    font-size:15px;
}

.copyright-text a {
    color: #7d7975;
    margin: 0px 10px 0px 10px;
    
}
.copyright-text a:hover {
    color: #aece61  ;
    
    
}
/* Social Icons */

.social-icons{
    
    margin: 0;
    padding: 0;
    font-size : 10px;
}

.social {
    margin:7px 7px 7px 0px;
    color:#fff;
}


#social-fb:hover {
     color: #3B5998;
     transition:all .25s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .25s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .25s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .25s;
 }
 
