body {
  background: linear-gradient(135deg, rgba(85,239,203,0.8) 0%,rgba(30,87,153,0.7) 0%,rgba(85,239,203,0.6) 0%,rgba(91,202,255,0.5) 100%);
  color: #f7f7f7;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.image{
	position: absolute;
	margin: auto;
	margin-left: 5%;
	margin-top: 5px;



}



.wrapper{
		background-color: #f7f7f7;
		color: #000000;
         width: 350px; 
         padding: 20px; 
         position: relative;
         border-width: 1px;
         margin: auto;
         margin-top: 75px;             
    }

.wrapper form{
	color: #000000;

}
